
@{
    ViewBag.Title = "AgriculerMachine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">AGRICULTURE MACHINERY </h2>

            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_150 section_padding_bottom_150 columns_margin_bottom_20">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/01.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight4link" style="height:84px;">Grevy Machine (Pulveriser)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/02.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlightlink" style="height:84px;">2 in 1 Pulveriser (Dry & Pulveriser)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/03.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight2link" style="height:84px;">farshan (Namkin) Machine (steel Body)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/04.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight3link" style="height:84px;">dry fruit cutting machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/05.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight5link" style="height:84px;">vegetable cutting machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/06.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight6link" style="height:84px;">potato waffer making machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/07.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight7link" style="height:84px;">flour mixing machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/08.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">heavy duty mixer grinder</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/08.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">chilly cutter/ onion cutting machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/08.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">pizza owen</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/08.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">domestic flour mill</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/images/categories/08.jpg" alt="">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">induction motor</a>
                </div>
            </div>



        </div>
    </div>
</section>

