
@{
    ViewBag.Title = "FoodProcessingMachine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">FOOD PROCESSING MACHINERY </h2>
                
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_150 section_padding_bottom_150 columns_margin_bottom_20" style="margin-top:-100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/GravyMachine.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                      
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight4link" style="height:84px;">Grevy Machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/2in1Pulvisior.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlightlink" style="height:84px;">2 in 1 Pulveriser</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/MSPulversir.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight2link" style="height:84px;">M.S. Pulveriser</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/masalagrindingmachine.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight3link" style="height:84px;">Masala Grinding Machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/FullyAutomaticflourmill.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight5link" style="height:84px;">Fully Automatic Flourmill</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/MixmachRoundModel.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight6link" style="height:84px;">Mixer Machine Round Model</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/MixMachTitlingmac.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight7link" style="height:84px;">Mixer Machine Tilting Model</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/MixSquareModel.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Mixer Machine Square Model</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/MixVBeltmodel.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Mixer Machine V-Belt Model</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/OnionCuttingMachine.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Onion Cutting Machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/OnionSlicerMachine.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Onion Slicer Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/Garlicpeelarmachine.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Garlic Peeler Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/Vegetablecuttingmach.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Vegetable Cutting Machine (Regular)</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/Vegcutdulex.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Vegetable Cutting Machine (Deluxe)</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/VegCutJumbo.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Vegetable Cutting Machine (Jumbo)</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/FlourDough.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Flour (Dough) Kneadling Machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/BesanMixMach.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Besan Mixing Machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/FarsanMach.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Farshan Machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/NaylonSaveMach.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Nylon Sev Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/Fafdamach.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Fafda Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/BananaWaffer.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Banana Waffer Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/PotatoPiller.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Potato Piller Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/PotatoWaffer.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Potato Waffer Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/DryerTitling.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Dryer Machine (Tilting)</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/Dryermach.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Dryer Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/NamkeenMasalamix.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Namkeen Masala Mixer</a>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/DryfruitTukdacut.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Dryfruit Tukda Cutting Machine</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/DryfruitChipsmach.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Dryfruit Chips & Powder Machine </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/Dryfruitpowder.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Dryfruit Powder Machine (Three Phase)</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/handdryfruit.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Hand Dry Fruit Chips Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/DoughballMaking.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Dough Ball Making Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/RotiMachine.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Roti (Chapati) Machine</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/Food%20Machines/KajuMustimachine.jpg" alt="" style="height:260px;width:260px;">
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Kaju Musti Machine</a>
                </div>
            </div>






        </div>
    </div>
</section>

