@{
    ViewBag.Title = "PumpsandMotors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">pump and motors </h2>

            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_150 section_padding_bottom_150 columns_margin_bottom_20">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/PumpandMotors/pump1.jpg" alt="submersible" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight4link" style="height:84px;">submersible pumpsets for(150mm) borewells</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/PumpandMotors/pump2.jpg" alt="submersible" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlightlink" style="height:84px;">submersible pumpsets for(100mm) borewells</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/PumpandMotors/pupm3.jpg" alt="submersible" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight2link" style="height:84px;">domestic monoblocks</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/PumpandMotors/pump4.jpg" alt="submersible" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight3link" style="height:84px;">regenerative pumpsets : (mini monoblocks)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/PumpandMotors/spump.jpg" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight5link" style="height:84px;">selfpriming pumps (hsp series)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/PumpandMotors/spump2.jpg" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight6link" style="height:84px;">selfpriming pumps (dms series)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">

                        <img src="~/Design/PumpandMotors/cpumps.jpg" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight7link" style="height:84px;">centrifugal monoblock pumps (hcm series)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">

                        <img src="~/Design/PumpandMotors/opump.jpg" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">openwell submersible (hos series)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">

                        <img src="~/Design/PumpandMotors/opump2.jpg" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">openwell submersible (hsj series)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">

                        <img src="~/Design/PumpandMotors/v4pump.jpg" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">v4 submersible (hvn series)</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">

                        <img src="~/Design/PumpandMotors/cmpupms.jpg" style="height:250px;" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">compressors</a>
                </div>
            </div>





        </div>
    </div>
</section>

