
@{
    ViewBag.Title = "SprayPumsandGuns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">Spray Pums & Guns </h2>

            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_150 section_padding_bottom_150 columns_margin_bottom_20">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypump1.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight4link" style="height:84px;">2 HP ~ 16*40 V-Type Double Cylinder</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypump2.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlightlink" style="height:84px;">0.5 HP ~ 10*28  Single Cylinder</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypump3.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight2link" style="height:84px;">2 HP ~ 18*40 Double Cylinder</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypump4.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight3link" style="height:84px;">1 HP ~ 12*32 Double Cylinder</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypump5.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight5link" style="height:84px;">1 HP ~ 12*32 Single Cylinder</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypump6.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight6link" style="height:84px;">0.5 HP ~ 10*28 Single Cylinder</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypump7.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight7link" style="height:84px;">2 HP ~ 16*40 Double Cylinder</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypump8.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:95px;">Two Stage Air Compressor</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypumplist.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">single cylinder single stage- air compressor</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypumplist1.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">double cylinder single stage- amrican type air compressor</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="vertical-item with_border product">
                    <div class="item-media margin_0">
                        <img src="~/Design/SprayPumpsandGuns/spraypumplist2.jpg" />
                        <div class="media-links"></div>
                    </div> <a href="@Url.Action("ProductDetail","Home")" class="bg_link highlight8link" style="height:84px;">Two Stage - Air Compressor</a>
                </div>
            </div>

            
            






        </div>
    </div>
</section>


